name: test

on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    container: koma/ubuntu22.04-ros2:latest

    steps:
      - uses: actions/checkout@v2

      - name: build and test
        run: |
          # ROS 2 環境
          source /opt/ros/humble/setup.bash

          # パッケージを workspace に配置（重要）
          rsync -av \
            --exclude .git \
            --exclude .github \
            --exclude build \
            --exclude install \
            --exclude log \
            ./ /root/ros2_ws/src/mypkg/

          # ビルド
          cd /root/ros2_ws
          colcon build

          # 環境を再読み込み
          source install/setup.bash

          # テスト実行
          bash src/mypkg/test/test.bash

