name: test
on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest

    steps:
      - uses: actions/checkout@v4

      - name: setup workspace
        run: |
          mkdir -p /root/ros2_ws/src
          rsync -av \
            --exclude .git \
            --exclude .github \
            ./ /root/ros2_ws/src/mypkg/

      - name: build and test
        run: |
          cd /root/ros2_ws
          source /opt/ros/humble/setup.bash
          colcon build
          colcon test
          colcon test-result --verbose

